In [164]:
import pandas as pd

# part1_1982-2017.csv Well Data  Cleaning

In [165]:

welldata01_df = pd.read_csv("data/data_1_1.csv")
welldata01_df.head()

,api,API/UWI,Operator Alias,Well/Lease Name,Well Number,Reservoir,Production Type,Producing Status,Drill Type,First Prod Date,...,Months Produced,Spud Date,Measured Depth (TD),True Vertical Depth,Perforated Interval Length,Field,Section,Block,Surface Latitude (WGS84),Surface Longitude (WGS84)
0,42301331730000,4230133173,"ANADARKO E&P ONSHORE, LLC",SAVAGE 54-2-22 UNIT,1H,WOLFCAMP,OIL,ACTIVE,H,7/1/2017,...,1,3/27/2017,12100,NaN,NaN,PHANTOM,NaN,NaN,31.826158,-103.643763
1,42301333080000,4230133308,MEWBOURNE HOLDINGS INC,ZUMA 3 57-T1-3X10,W102AP,WOLFCAMP,OIL,ACTIVE,H,7/1/2017,...,1,5/8/2017,20470,NaN,NaN,PHANTOM,NaN,NaN,31.999605,-103.941079
2,42301332080000,4230133208,EOG RESOURCES INCORPORATED,LINK VJ RANCH 23-11B,2H,WOLFCAMP,OIL,ACTIVE,H,7/1/2017,...,1,4/8/2017,14000,NaN,NaN,PHANTOM,NaN,NaN,31.838967,-103.735467
3,42301330570000,4230133057,DEVON ENERGY CORPORATION,BOYD 11 101H,101H,WOLFCAMP,OIL,ACTIVE,H,5/1/2017,...,2,1/22/2017,17570,NaN,NaN,PHANTOM,NaN,NaN,31.943227,-103.354456
4,42301330560000,4230133056,MEWBOURNE HOLDINGS INC,TXL 19,H301DM,BONE SPRING,OIL,ACTIVE,H,7/1/2017,...,1,4/24/2017,14375,NaN,NaN,SANDBAR,NaN,NaN,31.955776,-103.905377

In [166]:
del welldata01_df['api']
welldata01_df.head()

,API/UWI,Operator Alias,Well/Lease Name,Well Number,Reservoir,Production Type,Producing Status,Drill Type,First Prod Date,Cum Gas,...,Months Produced,Spud Date,Measured Depth (TD),True Vertical Depth,Perforated Interval Length,Field,Section,Block,Surface Latitude (WGS84),Surface Longitude (WGS84)
0,4230133173,"ANADARKO E&P ONSHORE, LLC",SAVAGE 54-2-22 UNIT,1H,WOLFCAMP,OIL,ACTIVE,H,7/1/2017,22456.0,...,1,3/27/2017,12100,NaN,NaN,PHANTOM,NaN,NaN,31.826158,-103.643763
1,4230133308,MEWBOURNE HOLDINGS INC,ZUMA 3 57-T1-3X10,W102AP,WOLFCAMP,OIL,ACTIVE,H,7/1/2017,72.0,...,1,5/8/2017,20470,NaN,NaN,PHANTOM,NaN,NaN,31.999605,-103.941079
2,4230133208,EOG RESOURCES INCORPORATED,LINK VJ RANCH 23-11B,2H,WOLFCAMP,OIL,ACTIVE,H,7/1/2017,74305.0,...,1,4/8/2017,14000,NaN,NaN,PHANTOM,NaN,NaN,31.838967,-103.735467
3,4230133057,DEVON ENERGY CORPORATION,BOYD 11 101H,101H,WOLFCAMP,OIL,ACTIVE,H,5/1/2017,40193.0,...,2,1/22/2017,17570,NaN,NaN,PHANTOM,NaN,NaN,31.943227,-103.354456
4,4230133056,MEWBOURNE HOLDINGS INC,TXL 19,H301DM,BONE SPRING,OIL,ACTIVE,H,7/1/2017,43538.0,...,1,4/24/2017,14375,NaN,NaN,SANDBAR,NaN,NaN,31.955776,-103.905377

In [167]:
#list all the header column 
list(welldata01_df)

['API/UWI',
 'Operator Alias',
 'Well/Lease Name',
 'Well Number',
 'Reservoir',
 'Production Type',
 'Producing Status',
 'Drill Type',
 'First Prod Date',
 'Cum Gas',
 'Cum Oil',
 'Cum BOE',
 'Daily Gas',
 'Daily Oil',
 'First Month Oil',
 'First Month Gas',
 'Last Test Date',
 'Last Flow Pressure',
 'Peak Gas',
 'Peak Oil',
 'Peak BOE',
 'Upper Perforation',
 'Lower Perforation',
 'Gas Gravity',
 'Oil Gravity',
 'Completion Date',
 'Well Count',
 'Months Produced',
 'Spud Date',
 'Measured Depth (TD)',
 'True Vertical Depth',
 'Perforated Interval Length',
 'Field',
 'Section',
 'Block',
 'Surface Latitude (WGS84)',
 'Surface Longitude (WGS84)']

In [168]:
# renamer the columns header
welldata01_df.rename(columns={
 'API/UWI':'API',
 'Operator Alias': 'Operator',
 'Well/Lease Name':'Lease_Name',
 'Well Number':'Well_Number',
 'Production Type': 'Production_type',
 'Producing Status':'Production_Status',
 'Drill Type':'Drilling_Type',
 'First Prod Date':'First_Production_Day',
 'Cum Gas':'Cum_Gas',
 'Cum Oil':'Cum_Oil',
 'Cum BOE':'Cum_BOE',
 'Daily Gas':'Daily_Gas',
 'Daily Oil':'Daily_Oil',
 'First Month Oil':'First_Month_Oil',
 'First Month Gas':'First_Month_Gas',
 'Last Test Date':'Last_Test_Date',
 'Last Flow Pressure':'Last_Flow_Pressure',
 'Peak Gas':'Peak_Gas',
 'Peak Oil':'Peak_Oil',
 'Peak BOE':'Peak_BOE',
 'Upper Perforation':'Upper_Perforation',
 'Lower Perforation':'Lower_Perforation',
 'Gas Gravity':'Gas_Gravity',
 'Oil Gravity':'Oil_Gravity',
 'Completion Date':'Completion_Date',
 'Well Count':'Well_Count',
 'Months Produced':'Months_Produced',
 'Spud Date':'Spud_Date',
 'Measured Depth (TD)':'TD',
 'True Vertical Depth':'TVD',
 'Perforated Interval Length':'Perforated_Interval_Length',
 'Surface Latitude (WGS84)':'Lat',
 'Surface Longitude (WGS84)':'Long'}, inplace=True)

In [169]:
welldata01_df.head()

,API,Operator,Lease_Name,Well_Number,Reservoir,Production_type,Production_Status,Drilling_Type,First_Production_Day,Cum_Gas,...,Months_Produced,Spud_Date,TD,TVD,Perforated_Interval_Length,Field,Section,Block,Lat,Long
0,4230133173,"ANADARKO E&P ONSHORE, LLC",SAVAGE 54-2-22 UNIT,1H,WOLFCAMP,OIL,ACTIVE,H,7/1/2017,22456.0,...,1,3/27/2017,12100,NaN,NaN,PHANTOM,NaN,NaN,31.826158,-103.643763
1,4230133308,MEWBOURNE HOLDINGS INC,ZUMA 3 57-T1-3X10,W102AP,WOLFCAMP,OIL,ACTIVE,H,7/1/2017,72.0,...,1,5/8/2017,20470,NaN,NaN,PHANTOM,NaN,NaN,31.999605,-103.941079
2,4230133208,EOG RESOURCES INCORPORATED,LINK VJ RANCH 23-11B,2H,WOLFCAMP,OIL,ACTIVE,H,7/1/2017,74305.0,...,1,4/8/2017,14000,NaN,NaN,PHANTOM,NaN,NaN,31.838967,-103.735467
3,4230133057,DEVON ENERGY CORPORATION,BOYD 11 101H,101H,WOLFCAMP,OIL,ACTIVE,H,5/1/2017,40193.0,...,2,1/22/2017,17570,NaN,NaN,PHANTOM,NaN,NaN,31.943227,-103.354456
4,4230133056,MEWBOURNE HOLDINGS INC,TXL 19,H301DM,BONE SPRING,OIL,ACTIVE,H,7/1/2017,43538.0,...,1,4/24/2017,14375,NaN,NaN,SANDBAR,NaN,NaN,31.955776,-103.905377

In [170]:
# welldata01_df.dropna(axis = 1)
# welldata01_df

In [171]:
welldata01_df.to_csv('data/Part1_WellData_Cleaned.csv')

# data_2_1.csv, data_2_2.csv, data_2_3.csv  merging and clean the result datafram

In [172]:
# merging dataset data_2_1 and data_2_2
data_2_1_df = pd.read_csv('data/data_2_1.csv')
data_2_2_df = pd.read_csv('data/data_2_2.csv')

data_3_df = pd.merge(data_2_1_df, data_2_2_df, on='API')
# data_3_df.head()

In [173]:
data_2_3_df = pd.read_csv('data/data_2_3.csv')

In [174]:
# merge data_3 and data_2_3
welldata02_df = pd.merge(data_3_df, data_2_3_df, on='API')
welldata02_df.head()

,API,Name,Well Type - Aliased,Status - Aliased,Wellbore Profile - Aliased,First Production Date,CUM Oil,CUM Gas,CUM Water,Latitude,Longitude,Lateral Length,Spud Date,Completion Date,Well Number,Upper Perf,Lower Perf,Formation,operator,CUM BOE
0,42-301-32426-0000,THRESHER 55-1-12 UNIT A 15H,PERMIT,OPEN SHUT IN,HORIZONTAL,4/1/2018,9091.0,13875.0,0.0,31.981396,-103.710175,9087.059570,1/31/2018,NaN,NaN,0,0,NaN,NaN,11403.50012
1,42-301-32426-0000,THRESHER 55-1-12 UNIT A 15H,PERMIT,OPEN SHUT IN,HORIZONTAL,4/1/2018,9091.0,13875.0,0.0,31.981396,-103.710175,9087.059570,1/31/2018,3/18/2018,15H,0,0,NaN,ANADARKO E&P ONSHORE LLC,11403.50012
2,42-301-32427-0000,THRESHER 55-1-12 UNIT A 16H,OIL,Active,HORIZONTAL,4/1/2018,9091.0,13875.0,0.0,31.981394,-103.710083,9079.295898,2/11/2018,NaN,NaN,0,0,NaN,NaN,11403.50012
3,42-301-32427-0000,THRESHER 55-1-12 UNIT A 16H,OIL,Active,HORIZONTAL,4/1/2018,9091.0,13875.0,0.0,31.981394,-103.710083,9079.295898,2/11/2018,3/5/2018,16H,0,0,NaN,ANADARKO E&P ONSHORE LLC,11403.50012
4,42-301-32937-0000,UNIVERSITY 20 PW UNIT 2003H,OIL,Active,HORIZONTAL,4/1/2018,833113.0,988451.0,0.0,31.686888,-103.335297,8038.000000,12/18/2017,9/18/2016,2003H,0,0,WOLFCAMP,SHELL WESTERN E&P,997854.83980

In [175]:
# get the correct form of APT
welldata02_df['API'] = welldata02_df['API'].str.replace('-','').str.replace('0000','')
welldata02_df['API'] = pd.to_numeric(welldata02_df['API'])

# change HORIZANTAL TO H & VERTICAL TO V IN 'Wellbore Profile - Aliased' column 
welldata02_df['Wellbore Profile - Aliased'] = welldata02_df['Wellbore Profile - Aliased'].str.replace('HORIZONTAL','H').\
str.replace('VERTICAL','V')

In [176]:
welldata02_df.head()

,API,Name,Well Type - Aliased,Status - Aliased,Wellbore Profile - Aliased,First Production Date,CUM Oil,CUM Gas,CUM Water,Latitude,Longitude,Lateral Length,Spud Date,Completion Date,Well Number,Upper Perf,Lower Perf,Formation,operator,CUM BOE
0,4230132426,THRESHER 55-1-12 UNIT A 15H,PERMIT,OPEN SHUT IN,H,4/1/2018,9091.0,13875.0,0.0,31.981396,-103.710175,9087.059570,1/31/2018,NaN,NaN,0,0,NaN,NaN,11403.50012
1,4230132426,THRESHER 55-1-12 UNIT A 15H,PERMIT,OPEN SHUT IN,H,4/1/2018,9091.0,13875.0,0.0,31.981396,-103.710175,9087.059570,1/31/2018,3/18/2018,15H,0,0,NaN,ANADARKO E&P ONSHORE LLC,11403.50012
2,4230132427,THRESHER 55-1-12 UNIT A 16H,OIL,Active,H,4/1/2018,9091.0,13875.0,0.0,31.981394,-103.710083,9079.295898,2/11/2018,NaN,NaN,0,0,NaN,NaN,11403.50012
3,4230132427,THRESHER 55-1-12 UNIT A 16H,OIL,Active,H,4/1/2018,9091.0,13875.0,0.0,31.981394,-103.710083,9079.295898,2/11/2018,3/5/2018,16H,0,0,NaN,ANADARKO E&P ONSHORE LLC,11403.50012
4,4230132937,UNIVERSITY 20 PW UNIT 2003H,OIL,Active,H,4/1/2018,833113.0,988451.0,0.0,31.686888,-103.335297,8038.000000,12/18/2017,9/18/2016,2003H,0,0,WOLFCAMP,SHELL WESTERN E&P,997854.83980

In [177]:
list(welldata02_df)

['API',
 'Name',
 'Well Type - Aliased',
 'Status - Aliased',
 'Wellbore Profile - Aliased',
 'First Production Date',
 'CUM Oil',
 'CUM Gas',
 'CUM Water',
 'Latitude',
 'Longitude',
 'Lateral Length',
 'Spud Date',
 'Completion Date',
 'Well Number',
 'Upper Perf',
 'Lower Perf',
 'Formation',
 'operator ',
 'CUM BOE']

In [178]:
welldata02_df.rename(columns={             
 
 'Name': 'Lease_Name',
 'Well Type - Aliased': 'Production_type',
 'Status - Aliased': 'Production_Status',
 'Wellbore Profile - Aliased':'Drilling_Type' ,
 'First Production Date':'First_Production_Day',
 'CUM Oil':'Cum_Oil',
 'CUM Gas':'Cum_Gas',
 'CUM Water':'Cum_water',
 'Latitude':'Lat',
 'Longitude':'Long',
 'Spud Date':'Spud_Date',
 'Completion Date':'Completion_Date',
 'Well Number':'Well_Number',
 'Upper Perf':'Upper_Perforation',
 'Lower Perf':'Lower_Perforation',
 'Formation':'Reservoir',
 'operator':'Operator',
 'CUM BOE':'Cum_BOE'}
                     
                     
                     , inplace=True)

In [179]:
# welldata02_df
# welldata02_df.dropna(axis = 1)
welldata02_df.head()

,API,Lease_Name,Production_type,Production_Status,Drilling_Type,First_Production_Day,Cum_Oil,Cum_Gas,Cum_water,Lat,Long,Lateral Length,Spud_Date,Completion_Date,Well_Number,Upper_Perforation,Lower_Perforation,Reservoir,operator,Cum_BOE
0,4230132426,THRESHER 55-1-12 UNIT A 15H,PERMIT,OPEN SHUT IN,H,4/1/2018,9091.0,13875.0,0.0,31.981396,-103.710175,9087.059570,1/31/2018,NaN,NaN,0,0,NaN,NaN,11403.50012
1,4230132426,THRESHER 55-1-12 UNIT A 15H,PERMIT,OPEN SHUT IN,H,4/1/2018,9091.0,13875.0,0.0,31.981396,-103.710175,9087.059570,1/31/2018,3/18/2018,15H,0,0,NaN,ANADARKO E&P ONSHORE LLC,11403.50012
2,4230132427,THRESHER 55-1-12 UNIT A 16H,OIL,Active,H,4/1/2018,9091.0,13875.0,0.0,31.981394,-103.710083,9079.295898,2/11/2018,NaN,NaN,0,0,NaN,NaN,11403.50012
3,4230132427,THRESHER 55-1-12 UNIT A 16H,OIL,Active,H,4/1/2018,9091.0,13875.0,0.0,31.981394,-103.710083,9079.295898,2/11/2018,3/5/2018,16H,0,0,NaN,ANADARKO E&P ONSHORE LLC,11403.50012
4,4230132937,UNIVERSITY 20 PW UNIT 2003H,OIL,Active,H,4/1/2018,833113.0,988451.0,0.0,31.686888,-103.335297,8038.000000,12/18/2017,9/18/2016,2003H,0,0,WOLFCAMP,SHELL WESTERN E&P,997854.83980

In [181]:
# droping unecessary rows with weired values !! 
welldata02_df = welldata02_df[welldata02_df.Drilling_Type != 'DIRECTIONAL']
welldata02_df = welldata02_df[welldata02_df.Production_type != 'DIRECTIONAL']

In [182]:
welldata02_df.to_csv('data/part2_wellData_Cleaned.csv')

In [126]:
# concatenate welldata01 and welldata02 to obtain the finall dataset 

frames = [welldata01_df,welldata02_df]
welldata_df = pd.concat(frames)

C:\Users\hocin\Anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

In [127]:

welldata_df.head()

,API,Block,Completion_Date,Cum_BOE,Cum_Gas,Cum_Oil,Cum_water,Daily_Gas,Daily_Oil,Drilling_Type,...,Production_type,Reservoir,Section,Spud_Date,TD,TVD,Upper_Perforation,Well_Count,Well_Number,operator
0,4230133173,NaN,NaN,9292.0,22456.0,5549.0,NaN,724.0,179.0,H,...,OIL,WOLFCAMP,NaN,3/27/2017,12100.0,NaN,NaN,1.0,1H,NaN
1,4230133308,NaN,NaN,559.0,72.0,547.0,NaN,2.0,18.0,H,...,OIL,WOLFCAMP,NaN,5/8/2017,20470.0,NaN,NaN,1.0,W102AP,NaN
2,4230133208,NaN,NaN,33618.0,74305.0,21234.0,NaN,2397.0,685.0,H,...,OIL,WOLFCAMP,NaN,4/8/2017,14000.0,NaN,NaN,1.0,2H,NaN
3,4230133057,NaN,NaN,26351.0,40193.0,19652.0,NaN,659.0,322.0,H,...,OIL,WOLFCAMP,NaN,1/22/2017,17570.0,NaN,NaN,1.0,101H,NaN
4,4230133056,NaN,NaN,23117.0,43538.0,15861.0,NaN,1404.0,512.0,H,...,OIL,BONE SPRING,NaN,4/24/2017,14375.0,NaN,NaN,1.0,H301DM,NaN

In [128]:
welldata_df.set_index('API', inplace=True)

In [129]:
welldata_df.head()

,Block,Completion_Date,Cum_BOE,Cum_Gas,Cum_Oil,Cum_water,Daily_Gas,Daily_Oil,Drilling_Type,Field,...,Production_type,Reservoir,Section,Spud_Date,TD,TVD,Upper_Perforation,Well_Count,Well_Number,operator
API,,,,,,,,,,,,,,,,,,,,,
4230133173,NaN,NaN,9292.0,22456.0,5549.0,NaN,724.0,179.0,H,PHANTOM,...,OIL,WOLFCAMP,NaN,3/27/2017,12100.0,NaN,NaN,1.0,1H,NaN
4230133308,NaN,NaN,559.0,72.0,547.0,NaN,2.0,18.0,H,PHANTOM,...,OIL,WOLFCAMP,NaN,5/8/2017,20470.0,NaN,NaN,1.0,W102AP,NaN
4230133208,NaN,NaN,33618.0,74305.0,21234.0,NaN,2397.0,685.0,H,PHANTOM,...,OIL,WOLFCAMP,NaN,4/8/2017,14000.0,NaN,NaN,1.0,2H,NaN
4230133057,NaN,NaN,26351.0,40193.0,19652.0,NaN,659.0,322.0,H,PHANTOM,...,OIL,WOLFCAMP,NaN,1/22/2017,17570.0,NaN,NaN,1.0,101H,NaN
4230133056,NaN,NaN,23117.0,43538.0,15861.0,NaN,1404.0,512.0,H,SANDBAR,...,OIL,BONE SPRING,NaN,4/24/2017,14375.0,NaN,NaN,1.0,H301DM,NaN

In [130]:
welldata_df.to_csv('data/loving_WellData.csv')